body{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

header,main,footer{
    max-width: 900px;
    margin: 0 auto;
    border-radius: 8px;
}


header{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

main{
    background-color: #ffffff;
    padding: 20px;
}

footer{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}

.txt_cent{
    text-align: center;
}

h1{
    color: #333;
    text-align: center;
}

h2,h3{
    color: #333;
}

p{
    color: #555;
    font-size: 16px;
}